
@layer tailwind-base, primereact, tailwind-utilities;


@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
    .sidebar-nav-active {
        background-color: rgb(239 246 255);
        color: rgb(96 165 250);
    }
}

.p-datatable-header{
  background-color: transparent;
  border: none;
}
/* .p-datatable-table{
  padding: 30px;
} */
.p-datatable-thead {
padding: 30px;
}

